

@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*::selection {
    color: white;
    background-color: black;
}

.no-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}


.verala {
    font-family: "Varela Round";
}

textarea:focus, input:focus{
    outline: none;
}

/* Navbar */
nav {
    /* margin-top: 1.2rem; */
    margin-bottom: 1.5rem;
}

#logo {
    margin-right: 7px;
}

/* Category Boxes */
#category_boxes div {
    border-radius: 1rem;
}

#category_boxes div:hover {
    box-shadow: -13px 13px 16px -12px rgba(0,0,0,0.75);
}

#category_boxes img {
    width: 20vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
}

#category_boxes img:hover {
    opacity: 0.85;
    transition: opacity 0.2s ease-in-out;
}

#category_boxes p {
    transition: all 0.3s ease-in-out;
    letter-spacing: -2px;
    color: white;
    font-family: "Nova Round";
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    opacity: 0;
    top: 75%;
}

#login_overlay {
    background-color: rgba(0,0,0,0.25);
}

#login_text {
    margin-bottom: 1.2vw;
    font-weight: 700;
}

#number input {
    padding-left: 4.5vw;
    padding-right: 3vw;
}

#country_code {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#others i {
    margin-right: 0.8vw;
}

.left_border {
    border-left: 2px solid white;
    border-width: 100%;
    margin-bottom: 1.5rem;
}

.hover-line {
    position: relative;
    display: inline;
    color: white;
    text-decoration: none;
}

.hover-line::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-line:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-line1 {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.hover-line1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-line1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#social ul li {
    cursor: pointer;
}

#social ul li i {
    padding-bottom: 0.25rem;
}

#pills ul li {
    width: 6.5rem;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 50px;
    transition: all 0.2s ease;
}

#pills ul li:hover {
    background-color: black;
    color: white;
}

#pills ul li.active {
    background-color: #000;
    color: white;
}

.product_card {
    flex-basis: 22%;
    flex-grow: 0;
    flex-shrink: 0;
}

#products {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 5px;
    place-items: center;
    grid-auto-rows: 1fr;
}

@media (max-width: 1290px) {
    #cont_buttons {
        flex-direction: column;
    }
}

/* Media query for category boxes */
@media (max-width: 1150px) {
    #category_boxes p {
        transition: all 0.3s ease-in-out;
        letter-spacing: -2px;
        color: white;
        font-family: "Nova Round";
        font-size: 18px;
        font-weight: 900;
        position: absolute;
        opacity: 0;
        top: 75%;
    }

    #products {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media query for login cart */
@media (max-width: 1024px) {
    #login_cart{
        font-size: 0.8rem;
    }

    #pills ul {
        justify-content: start;
    }
}

@media (max-width: 960px) {
    /* Footer */
    footer {
        flex-direction: column;
        padding: 1rem 1rem;
    }

    #zara_logo img {
        max-width: 10rem;
    }

    #description p {
        font-size: 0.85rem;
    }

    #second {
        width: 100%;
    }

    #first_f,
    #second_f {
        width: 100%;
        padding: 1rem;
    }

    #second_f {
        flex-direction: column;
    }

    #second_f_1 {
        width: 100%;
        padding: 0;
    }

    #second_f_1 ul {
        flex-direction: row;
        gap: 1.5rem;
    }

    #first {
        padding: 2rem 0;
        width: 80vw;
    }

    #follow {
        width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 850px) {
    #main_login {
        width: 75%;
    }

    #btn_container {
        width: 15vw;
    }

    #t_c,
    #separation {
        width: 60vw;
    }

    #cont_buttons {
        width: 60vw;
    }
}

@media (min-width: 800px) {
    #alternate_hero {
        display: none;
    }

    #search_small {
        display: none;
    }

    #login1 {
        display: none;
    }
}

@media (max-width: 800px) {
    #category_boxes {
        display: none;
    }

    #alternate_hero {
        display: block;
    }

    #search {
        display: none;
    }

    #search_small {
        display: block;
    }

    #login {
        display: none;
    }
}

@media (max-width: 768px) {
    #logo img {
        width: 8rem;
    }

    #products {
        grid-template-columns: 1fr 1fr;
    }
}

/* Media query for navbar */
@media (max-width: 500px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #logo {
        width: 7rem;
    }

    #login_cart {
        gap: 0.5rem;
    }

    /* Login */
    #main_login {
        /* width: 80%; */
        font-size: 0.85rem;
        gap: 0.75rem;
    }

    #btn_container {
        width: 50%;
    }

    #t_c {
        width: 90%;
    }

    #separation {
        width: 90%;
    }

    #others {
        width: 100%;
        gap: 0.75rem;
    }

    #cont_buttons {
        width: 100%;
    }

    #google_div {
        width: 65%;
    }

    #products {
        grid-template-columns: 1fr;
    }

    #product img {
        width: 10vw;
    }
}











