@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: "Varela Round";
}

#select {
    padding: 6px 10px 6px 7px;
}

#select option {
    font-family: "Varela Round";
}  

#ham {
    position: relative;
}

#slide {
    transition: 1.2s;
} 

#arrow-r,
#arrow-l {
    background-color: rgba(71, 85, 105, 0.5);
}

#sliderContainer {
    height: auto; /* Adjust the height based on the content */
    transition: height 0.5s ease; /* Add transition for height change */
}

.slide {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease; /* Add transition for opacity */
}

.slide.active {
    opacity: 1; /* Show the active image */
}

@media screen and (min-width: 640px) {
    #menu {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #logo {
        width: 10rem;
    }

    #list {
        font-size: smaller;
    }

    #logIn {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    #navbar {
        flex-direction: column;
    }

    #logo {
        width: 8rem;
    }

    #search {
        width: 16rem;
    }

    #select {
        display: none;
    }

    #sliderContainer {
        width: 100vw;
    }
}