@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: "Varela Round";
}

#select {
    padding: 6px 10px 6px 7px;
}

#select option {
    font-family: "Varela Round";
}  

#ham {
    position: relative;
}

#slide {
    transition: 1.2s;
} 

#arrow-r,
#arrow-l {
    background-color: rgba(71, 85, 105, 0.5);
}

#sliderContainer {
    height: auto; 
    transition: height 0.5s ease; 
}

.slide {
    width: 100%;
    height: auto; 
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease; 
}

.slide.active {
    opacity: 1; 
}

a {
    text-decoration: none;
} 

#division {
    margin-top: 1.5rem;
}  

#div {
    margin-top: 1rem;
}

#list {
    margin-top: 1rem;
}

#appear {
    transition: 0.5s ease-in;
    height: fit-content;
}

.transition-left {
    transition: left 0.5s ease-in-out;
}
.slide-in {
    left: 0 !important;
}
.slide-out {
    left: 100% !important;
}

#sectionThree ul li a i,
#sectionOne li {    
    transition: all 0.7s ease;
}


#sectionThree ul li a i:hover,
#sectionOne li:hover {
    color: white;
    transition: all 0.8s ease;
}

@media screen and (max-width: 640px) {
    #logo {
        width: 10rem;
    }

    #list {
        font-size: smaller;
    }

    #logIn {
        display: none;
    }

    #menu {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    #navbar {
        flex-direction: column;
    }

    #logo {
        width: 8rem;
    }

    #search {
        width: 16rem;
    }

    #select {
        display: none;
    }

    #sliderContainer {
        width: 100vw;
    }

    #sliderContainerWrapper {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease; 
    }
}

@media (min-width: 501px) {
    #sliderContainer::before {
        content: '';
        position: absolute;
        top: -10px; 
        left: -10px; 
        right: -10px; 
        bottom: -10px; 
        background: rgba(0, 0, 0, 0.2); 
        border-radius: 15px; 
        z-index: -1; 
    }

    #sliderContainer {
        height: auto; 
        opacity: 1;
        transition: height 0.5s ease, opacity 0.5s ease; 
        position: relative;
        border-radius: 15px; 
        overflow: hidden; 
        background: white; 
        margin: auto; 
    }

    .slide {
        width: 100%;
        height: auto; 
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease; 
    }

    .slide.active {
        opacity: 1; 
    }
}